@charset "UTF-8";

/* 모바일용 css */
/* 기본 css */

#wrap {
    width: 80%;
    margin: 0 auto;
    max-width: 1200px;
    /* display: flex;
    flex-flow: column nowrap; */
}

/* information 영역 css */

.info_section {
    order: 1;
    width: 100%;
    background-color: #2ecc71;
    border-bottom: 1px solid #f1f1f1;
}

.info_list {
    display: flex;
}

.info_list li {
    width: 25%;
    text-align: center;
}

.info_list li a {
    display: block;
    /* padding: 15px 0; */
    padding: 0.938rem 0;
}

/* header 영역 css */

.header {
    order: 2;
    width: 100%;
    position: relative;
}

.logo {
    width: 100%;
    /* padding: 30px 0; */
    padding: 1.875rem 0;
    background-color: #2ecc71;
    text-align: center;
    color: white;
    font-size: 20px;
    text-shadow: 0px 1px 1px black;
    /* line-height: 25px; */
    line-height: 1.5625rem;
    /* 부모의 크기에서 상속받는 비율 */
    text-transform: uppercase;
}

.nav {
    width: 100%;
}

.gnb {
    display: none;
    /* transition: all 0.3s; */
}

.gnb li {
    background-color: #2c3e50;
    display: flex;
}

.gnb li a {
    width: 80%;
    color: white;
    font-weight: bold;
    font-size: 15px;
    font-size: 0.938rem;

    padding: 20px 0;
    padding: 1.25rem 0;

    text-indent: 20px;
    text-indent: 1.25rem;
}

.gnb li span {
    width: 20%;
    text-indent: -9999px;
    background: url("../images/s_images/sub_menu_toggle_btn.png")no-repeat center center;
    cursor: pointer;
}

.menu_toggle_btn {
    display: block;
    width: 30px;
    height: 30px;
    background: url(../images/s_images/menu_toggle_btn.png)no-repeat;
    text-indent: -9999px;
    cursor: pointer;
    position: absolute;
    /* 부모 = header */
    top: 10px;
    right: 10px;
}

/* sub_header_section 영역 css*/
.sub_header_section {
    width: 100%;
    order: 3;
    background-color: rgb(67, 104, 239);
    padding: 50px 0;
    text-align: center;
}

.sub_header_section h2 {
    color: white;
    font-size: 20px;
    margin-bottom: 12px;
    text-shadow: 0px 1px 1px black;
}

.plat_list {}

.plat_list li {
    display: inline-block;
    font-size: 14px;
    color: white;
    font-weight: bold;
    text-shadow: 0px 1px 1px black;
}

/* content_section영역 css */

.content_section {
    order: 4;
    background-color: #fff;
    padding: 20px;
}

/* .cont_01영역 css */
.gallery_list li {
    margin-top: 20px;
}

.gallery_list li:first-child {
    margin-top: 0 !important;
}

.gallery_list img {
    width: 100%;
    max-width: 100%;
    border-radius: 5px;
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
    transition: all 0.5s;
}

.gallery_list img:hover {
    filter: grayscale(0);
    -webkit-filter: grayscale(0);
}

/* .cont_02영역 css */

.cont_02 {
    display: flex;
    justify-content: space-between;
    margin: 30px 0 40px 0;
}

.search_win {
    width: 115px;
    height: 28px;
    line-height: 28px;
    text-indent: 10px;
}

.search_select_box {
    display: none;
}

.write_box {}

.write_box a {
    display: block;
    width: 70px;
    height: 30px;
    background-color: #e65d5d;
    line-height: 30px;
    text-align: center;
    color: #fff;
    font-size: 14px;
}

/* cont_03영역 css */
.cont_03 {
    display: flex;
    justify-content: center;
}

.cont_03 span {
    width: 28px;
    height: 28px;
    text-indent: -9999px;
}

.cont_03 span.list_prev_btn {
    background: #25ab5e url(../images/s_images/list_prev_btn.png)no-repeat center center;
    margin-right: 10px;
}

.cont_03 span.list_next_btn {
    background: #25ab5e url(../images/s_images/list_next_btn.png)no-repeat center center;
    margin-left: 10px;
}

.cont_03 a {
    width: 28px;
    height: 28px;
    text-align: center;
    line-height: 27px;
    border: 1px solid #2537ab;
    color: #2537ab;
    transition: all 0.5s;
}

.cont_03 a:nth-of-type(2) {
    margin: 0 10px;
}

.cont_03 a:hover {
    background-color: #2537ab;
    color: #fff;
}


/*   푸터영역 css  */

.footer {
    order: 5;
    width: 100%;
    background-color: #474747;
}

.footer p {
    color: white;
    padding: 20px;
    text-align: center;
    text-shadow: 0px 1px 1px black;
    font-weight: bold;
}

/*태블릿용 css */
@media (min-width:768px) {
    #wrap {
        flex-flow: row wrap;
    }

    /* 헤더영역 CSS */

    .header {}

    .logo {
        position: absolute;
        top: 0;
        left: 0;
        width: 16%;
        z-index: 10;
    }

    .nav {
        min-height: 80px;
        background: #2ecc71;
        position: relative;
    }

    .gnb {
        position: absolute;
        top: 100%;
        right: 0;
        width: 40%;
    }

    .menu_toggle_btn {
        top: 50%;
        transform: translateY(-50%);
        right: 20px;
    }

    /* 서브 해더 영역  */

    /* content_section영역 */
    .content_section {
        padding: 40px;
    }

    .gallery_list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .gallery_list li {
        width: 47%;
    }

    .gallery_list li:nth-child(2) {
        margin-top: 0 !important;
    }

    /* cont_02 */
    .search_select_box {
        display: inline-block;
        position: relative;
    }

    .search_select_box span {
        display: block;
        width: 80px;
        height: 30px;
        line-height: 30px;
        background-color: #e65d5d;
        text-align: center;
        color: white;
        cursor: pointer;
    }

    .search_select_list {
        position: absolute;
        left: 0;
        top: 105%;
        width: 100%;
        display: none;
    }

    .search_select_list li {
        background-color: #e65d5d;
        color: white;
        padding: 6px 0;
        text-indent: 10px;
        font-size: 13px;
        cursor: pointer;
    }

    .footer p {
        padding: 40px 0;
    }

}

/* min-width:768px */



/*데스크탑 css */
@media (min-width:960px) {

    #wrap {
        width: 90%;
        position: relative;
    }

    /* 인포메이션  영역 css */

    .info_section {
        position: absolute;
        top: 30px;
        right: 30px;
        order: 0;
        z-index: 30;
        width: auto;
        border-bottom: 0;
    }

    .info_list li {
        width: auto;
        margin-left: 15px;
    }

    .info_list li a {
        padding: 0;
    }

    /* 헤더영역 CSS */

    .header {
        order: 1;
        display: flex;
        justify-content: flex-end;
        position: static;
    }

    .logo {
        width: 15%;
    }

    .nav {
        width: 85%;
        display: flex;
        position: static;
        align-items: center;
    }

    .gnb {
        display: flex !important;
        flex-direction: row;
        width: 100%;
        position: static;
    }

    .gnb li {
        background-color: transparent !important;
        display: block;
        margin-left: 5%;
    }

    .gnb li a {
        width: auto;
        padding: 0;
        text-indent: 0;
    }

    .gnb li span {
        display: none;
    }

    .menu_toggle_btn {
        display: none;
    }

    /* 서브 해더 영역  */

    .sub_header_section {
        order: 2;
    }

    /* content_section영역 */
    .content_section {
        order: 3;
        padding: 60px;
    }

    .gallery_list li {
        width: 23%;
    }

    .gallery_list li:nth-child(3) {
        margin-top: 0 !important;
    }

    .gallery_list li:nth-child(4) {
        margin-top: 0 !important;
    }

}

/* min-width:960px */